form {
	position: relative;
}

form input {
	position: absolute;
}

form select {
	position: absolute;	
	left: 1px;
	top: 1px;
}

.hidden{
	visibility: hidden;
}

#spinner {
  position: absolute;
  margin: 2px 0px 0px 150px;
  height: 12px;
  width: 12px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #aaa;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}